<h1>Schedule Manager</h1>

<ng-container *ngIf="auth.user$ | async as user;">
<div class="search">
    <h3>Create a Schedule</h3>

    <div class="form">
        <form (submit)="createSchedule()">
            <label for="create-schedule">Schedule Name </label>
            <input type="text" name='schedule-name' [(ngModel)]="setSchName">
            <label for="public-checkbox"> Public: </label>
            <input type="checkbox" name="public-checkbox" [(ngModel)]="setPublic">
            <br><label for="description">Description: </label>
            <textarea rows="5" cols="50" name="description" [(ngModel)]="setDescription"></textarea>
            <br><input type='submit' value="Create">
            <p>Invalid characters will be removed from the name and description</p>
        </form>

    </div>
    <h3>Update Schedule</h3>
    <div class="form">
        <label for='schedule-name-dropdown'>Schedule </label>
        <select id='schedule-name-dropdown' (change)="getScheduleDetails()" [(ngModel)]="scheduleSel">
            <option>Choose a Schedule</option>
            <option *ngFor="let schedule of scheduleList">{{schedule["name"]}}</option>
        </select>
        <label for="changeVisibility"> Public: </label>
        <input type="checkbox" name="changeVisibility" [(ngModel)]="isPublic">
        <br>
        <!-- Subject Selection Box -->
        <label for="add-subject"> Subject </label>
        <select id="add-subject" (change)="getCourseCodes()" [(ngModel)]="subjectSel">
            <option>Choose a Subject</option>
            <option *ngFor="let subject of subjectList">{{subject["subject"]}}</option>
        </select>

        <!-- Course Selection box -->
        <label for="add-course"> Course Code </label>
        <select id='add-course' [(ngModel)]="courseSel">
            <option>Choose a Course</option>
            <option *ngFor="let code of courseCodes">{{code["catalog_nbr"]}}</option>
        </select>

        <!-- Add course to schedule button -->
        <button id="update-list" (click)="addCourse()">Add Course to List</button>

        <!-- Display courses to be added -->
        <div class='add'>
            <ul id="pending" *ngFor="let course of pending">
                <li> - {{course["subject"]}} {{course["catalog_nbr"]}}</li>
            </ul>
            <button id="clear-pending" (click)="clearSelections()">Clear Course Selections</button>
        </div>

        <!-- change details -->
        <label for="changeDescription">Change Description: </label>
        <textarea rows="5" cols="50" name="changeDescription" [(ngModel)]="description"></textarea>

        <!-- Schedule Management Buttons --><br>
        <button id="confirm-list" (click)="updateSchedule();displaySchedule();getSchedules()">Confirm Changes</button>
        <button id="delete-schedule" (click)="deleteSchedule();getSchedules()">Delete this Schedule</button>
        <button id="delete-all" (click)="deleteAllSchedules();getSchedules()">Delete all Schedules</button>
    </div>
</div>
</ng-container>

<div class="display">
    <h3>Schedule List</h3>

    <label class="form" for="schedule-select">Display Schedule: </label>
    <select id="schedule-select" (change)="displaySchedule()" [(ngModel)]="schNameDisp">
        <option>All Schedules</option>
        <option *ngFor="let schedule of scheduleList">{{schedule["name"]}}</option>
    </select>
    <br>

    <ng-container *ngIf="showTimetable">
        <p class = "title">Schedule Name: {{scheduleDisp["name"]}} Number of Courses: {{scheduleDisp["numCourses"]}} Created By: {{scheduleDisp["user"]}}, Last Modified: {{scheduleDisp['date'] | date:'short'}}
            <br>
            Description: {{scheduleDisp["description"]}}
        </p>
        <!-- Course List -->
        <ul *ngFor="let course of schDispList">
            <li class="scheduleDisplay">{{course["subject"]}} {{course["catalog_nbr"]}}: {{course["className"]}}<br>
                Course Information
                <ul *ngFor="let item of course.course_info">
                    <li>
                        Class Number: {{item["class_nbr"]}}<br>
                        Section: {{item["class_section"]}}<br>
                        Instructors:
                        <ul *ngFor="let instructor of item.instructors">
                            <li>{{instructor}}</li>
                        </ul><br>
                        Component: {{item["ssr_component"]}}<br>
                        Start Time: {{item["start_time"]}}<br>
                        End Time: {{item["end_time"]}}<br>
                        Days: 
                        <ul *ngFor="let day of item.days">
                            <li>{{day}}</li>
                        </ul>
                        Campus: {{item["campus"]}}<br>
                        Location: {{item["facility_ID"]}}<br>
                        Enrollment Status: {{item["enrl_stat"]}}<br>
                        Requisites: 
                        <ul>
                            <li>
                                {{item["descrlong"]}}
                            </li>
                        </ul>
                        Details:
                        <ul>
                            <li>
                                {{item["descr"]}}
                            </li>
                        </ul>
                    </li>
                </ul>
                Description: {{course["catalog_description"]}}
            </li>
        </ul>
    </ng-container>

    <br>
    <ng-container *ngIf="showList">
    <ul class="fullScheduleList" *ngFor="let schedule of scheduleList">
        <li>{{schedule["name"]}}, Number of Courses: {{schedule["numCourses"]}}</li>
    </ul>
    </ng-container>
</div>